GEMINI_API_KEY=

VITE_FIREBASE_API_KEY=AIzaSyAFl5BKJGEL3xnx517HKrUgwz5g0rBWEmI
VITE_FIREBASE_AUTH_DOMAIN=viral-cilp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=viral-cilp
VITE_FIREBASE_STORAGE_BUCKET=viral-cilp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=259292737646
VITE_FIREBASE_APP_ID=1:259292737646:web:8c1b5714ba970e3527367f
VITE_FIREBASE_MEASUREMENT_ID=G-CP5WSR3NNZ
